@page
@model Biotaxonomicon.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

    <div>
        <h1>Вход</h1>
        <form method="post">
            <div class="form-group">
                <label for="loginInput">Логин</label>
                <input type="text" name="loginInput" class="form-control" id="loginInput" minlength="6" maxlength="24">
            </div>
            <div class="form-group">
                <label for="passwordInput">Пароль</label>
                <input type="password" name="passwordInput" class="form-control" minlength="6" maxlength="24" id="passwordInput">
            </div>
            @if (Model.WarningInfo != "")
            {
                <div class="alert alert-danger" role="alert">
                    @Model.WarningInfo
                </div>
            }
            <button type="submit" class="btn btn-primary">Вход</button>
        </form>
    </div>

