@page
@model Biotaxonomicon.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<h2>Авторы</h2>
<p>Noortvel - shuttinline@gmail.com</p>
<p>Текстовые материалы взяты с <a href="https://wikipedia.org">wikipedia.org</a></p>

