@page "{id}"
@model Biotaxonomicon.Pages.Cabinet.Tag.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Вы уверенны?</h1>
<form method="post">
    <a class="btn-sm btn-secondary" href="./Index" role="button">Нет</a>
    <button type="submit" class="btn-sm btn-danger">Да, удалить</button>
    <input type="number" hidden name="id" value="@Model.ID" />
</form>

